.img
{
  font-size: 10em;
  color: darkgray;
  display: flex;
  height: 100vh;
justify-content: center;
align-items: center;
  
}
.text
{
  font-size: 10em;
  color: darkgray;
  text-align: 100cm;
justify-content: center;
align-items: center;
}