<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title> قائمة المهام </ion-title>
      <ion-buttons>
      <ion-button slot="start" [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="img" *ngIf='!taskList.length'>
        <ion-icon name="bed"></ion-icon>
        
    </div>
    <div class="text"><h4>ajkwdh</h4></div>
    <ion-list>
      <ion-item *ngFor="let item of taskList">
        <ion-checkbox [(ngModel)]="item.done"></ion-checkbox>
        <ion-label>
          <h2>{{ item.title }}</h2>
          <p>{{ item.desc }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="deleteTask(item)">
            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-content>
  