<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>إضافة مهمة جديدة</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">عنوان المهمة</ion-label>
  <ion-input [(ngModel)]="newTask.title"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">وصف المھمة</ion-label>
    <ion-input [(ngModel)]="newTask.desc"></ion-input> </ion-item>
    <br>
    <br>
    <ion-button color="tertiary" expand="block" (click)="addTask()" [routerLink]="['/home']"> إضافة</ion-button>
</ion-content>
